body{
    background-color: #F5F5F5;
}

.barra_navigazione{
    background-color: #48CFCB;
    height: 13vh;
    padding: 20px 20px 0;
}

.logo{
    background-image: url(White_logo_nobg.png);
    height: 8vh;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
}

.login_aziende_button{
    background-color: #229799;
    color:#F5F5F5;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding-top: 22px;
}

.offer_box{
    background-color: #F5F5F5;
    margin: 20px 0;
    padding: 20px;
    box-shadow: -5px 5px 10px #0000002a;;
}

a{
    text-decoration: none;
}

h2{
    color: #424242;
}

.link_azienda{
    color: #229799;
    font-weight: bold;
}

.text_offer{
    margin-top: 7px;
    color: #424242;
    font-size: 18px;
}

li{
    font-weight: bold;
}